.cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #6de5fa;
  position: fixed;
  z-index: 999;
}

@media screen and (max-width: 480px) {
  .cursor {
    display: none;
  }
}
